@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 80vw;
    font-family: 'Merriweather', serif;
}
.navbar{
    height: 50px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.topleft{
    width: 50%;
}
.topright{
    width: 50%;
}
.section1{
    max-height: 100vh;
}
.section1 h1{
    font-size: 2rem;
}
.logo{
    font-size: 1.3rem;
}
.dumblellimg{
    width: 189px;
}
.topright .gymimg{
    width: 366px;
}
.section2{
    padding-left: 63px;
    padding-right: 63px;
}
.section2 h1{
    font-size: 2rem;
}
.section2 p{
    padding: 0 8vw;
    text-align: center;
}
.box{
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(224, 75, 34);
    border-radius: 8px;
    text-align: center;
    padding: 4px 0px;
    background-color: rgba(227, 73, 56, 0.20);
   
}
.box:hover{
    background-color: rgba(227, 73, 56, 0.30);
}
.box ul{
    list-style: none;
}
.box ul li{
    margin: 5px 2px;
}
.box h2{
    padding: 15px 0px 5px 0px;
}
footer{
    padding: 23px;
    text-align: center;
}